.Main {
  background: linear-gradient(to right, rgb(211, 204, 227), rgb(233, 228, 240));
  height: 100%;
  min-height: 95vh;
}

.Main .card {
  width: 15rem;
}

.Main .card-body {
  padding: 0 16px;
  margin-top: 8px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Main .card-title {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  text-align: center;
}

.Main .list-group-flush {
  height: 103.5px;
  display: flex;
  justify-content: center;
}

.Main .list-group-item {
  font-size: 0.8em;
  text-align: justify;
  -webkit-line-clamp: 5;
  padding: 4px 14px;
  display: flex;
  align-self: center;
  text-overflow: ellipsis;
}

.Main .card-title,
.Main .list-group-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Main .descriptionVoid{
  font-size: 1.2em;
  font-weight: 700;
}