.DetailMovie {
  background: var(--background-purple);
  min-height: 100vh;
}

.DetailMovie .img-thumbnail {
  height: 600px;
}

.DetailMovie .description {
  flex-direction: column;
  padding: 0;
  text-align: justify;
}

.DetailMovie .description > div {
  font-size: 1.2em;
  padding-bottom: 6px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DetailMovie .imageDefault {
  max-height: 600px;
  max-width: 403px;
}

.DetailMovie .authorsLicense {
  text-align: center;
}
