.header {
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    color: var(--bs-white);
}

.header .me-auto a {
    padding: 0 0.5em;
    color: var(--bs-nav-link-color);
    text-decoration: none;
    font-size: 0.8em;
}


.header .me-auto a:hover {
    color: rgba(255, 255, 255, 0.75)
}

.header .col-auto {
    padding-left: 0px;
}

.header .fa-solid {
    color: #294d5c 
}