.MediaCards {
  height: 100%;
  min-height: calc(100vh - 56px);
}

.MediaCards .card {
  width: 15rem;
}

.MediaCards .card-img-top {
  height: 357px;
}

.MediaCards .card-body {
  padding: 0 16px;
  margin-top: 8px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.MediaCards .card-title {
  font-size: 0.9em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-align: center;
}

.MediaCards .list-group-flush {
  height: 103.5px;
  display: flex;
  justify-content: center;
}

.MediaCards .list-group-item {
  font-size: 0.8em;
  text-align: justify;
  -webkit-line-clamp: 5;
  padding: 4px 14px;
  display: flex;
  align-self: center;
  text-overflow: ellipsis;
}

.MediaCards .card-title,
.MediaCards .list-group-item {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.MediaCards .descriptionVoid {
  font-size: 1.2em;
  font-weight: 700;
}

.MediaCards .imageDefault {
  height: 339px;
}

.MediaCards .authorsLicense {
  background-color: #ffea00;
  text-align: center;
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .MediaCards .card {
    width: 10rem;
  }

  .MediaCards .card-img-top {
    height: 237px;
  }

  .MediaCards .imageDefault {
    height: 221.4px;
  }

  .MediaCards .authorsLicense,
  .MediaCards .card-title {
    font-size: 0.65em;
  }

  .MediaCards .list-group-item {
    font-size: 0.6em;
    padding: 2px 7px;
  }

  .MediaCards .list-group-flush {
    height: 76px;
  }

  .MediaCards .card-body {
    margin-top: 8px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .MediaCards .card {
    width: 7rem;
  }

  .MediaCards .card-img-top {
    height: 165px;
  }

  .MediaCards .imageDefault {
    height: 138.62px;
  }

  .MediaCards .authorsLicense,
  .MediaCards .card-title {
    font-size: 0.55em;
  }

  .MediaCards .list-group-flush {
    height: 76px;
    display: none;
  }

  .MediaCards .card-body {
    margin-top: 10px;
    height: 25px;
  }
}
